.project_card {
    width: 270px;
    height: 26.6rem;
    background-color: rgb(121, 120, 120);
    padding: 0 0 1rem 0;
    border-radius: 1rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    display: wrap;
    margin: 1rem;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.project_card img {
    width: 100%;
    height: auto;
}

.project_card:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.project_card_content {
    margin: 0 2rem;
}

.project_card h4 {
    font-weight: 500;
}

.project_card p {
    font-weight: 100;
    text-align: start;
    font-size: 0.8rem;
}

.project_card h5 {
    font-weight: bold;
    text-align: start;
}

.project_card span {
    font-weight: 100;
    color: var(--secondary-text-color);
}

.project_card_link {
    display: flex;
    justify-content: space-between;
}

.project_card_link div img {
    margin-right: 0.3rem;
}

.project_card_link img {
    width: 1rem;
    position: relative;
    top: 0.2rem;
}

.project_card_link a {
    color: var(--text-color);
    font-size: 0.8rem;
}